.paragrafo {font-size: 120%; padding-left: 150px; padding-top: 0px; width: 180px;}
.quadro {background-color: #ffffff; border:1px solid #000000; width:500px; height:200px;}
#corpo {background: url('backgroud.png');}
.rodape {padding-top: 274px;}
#p2 {padding-left: 77%;}
.scor{font-size: 175px;}